{% extends 'base.html' %}
{% block content%}
    <div class="CreateRecipeEdit Container">
        <div class="CREForm">
            <h2>Editing the recipe</h2>
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-style {% if field.errors %} errors {% endif %}">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field}}
                    </div>
                {% endfor %}
                <button type="submit">Send...</button>
            </form>
        </div>
    </div>
{% endblock %}