{%extends 'base.html'%}

{%block content%}
    <div class="DeleteRecipe Container">
        <form method="post" class="card">
            {% csrf_token %}
            <h2>Delete Recipe</h2>
            <p>Are you sure that you want to delete "{{recipe}}"?</p>
            <p class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Delete">
                <a href="{% url 'create_recipe'%}" class="btn btn-outline">Cancel</a>
            </p>
        </form>
    </div>

{%endblock content%}